<div class="container-fluid">
    <div class="row">
      <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">CONSERVATION AREAS RESERVATION</span>
      </div>
    </div>
    
    <div class="row text-white">
      <div class="col-3 p-2">
        <div class="d-grid gap-2">
          <button class="btn btn-outline-primary" (click)="selectHome()">Home</button>
          
          <h5>Select a Location:</h5>
          <button *ngFor="let location of locations" class="btn btn-outline-primary"
                  (click)="selectLocation(location.id)">
            {{ location.name }}
          </button>
        </div>
      </div>
  
      <div class="col-9 p-2 text-dark">
        <h4>Book a Time Slot for {{ selectedLocation?.name }}</h4>
        <div *ngIf="selectedLocation">
          <form (ngSubmit)="reserve()">
            <label for="date">Select Date:</label>
            <input type="date" id="date" [(ngModel)]="selectedDate" name="date" [min]="minDate" required>
  
            <label for="fromTime">From:</label>
            <select id="fromTime" [(ngModel)]="selectedFromTime" name="fromTime" required>
              <option *ngFor="let time of availableTimes" [value]="time">{{ time }}</option>
            </select>
  
            <label for="toTime">To:</label>
            <select id="toTime" [(ngModel)]="selectedToTime" name="toTime" required>
              <option *ngFor="let time of availableTimes" [value]="time">{{ time }}</option>
            </select>
  
            <button type="submit" class="btn btn-primary mt-2">Book Now</button>
          </form>
        </div>
  
        <div *ngIf="!selectedLocationId">
          <p>Please select a location to book a time slot.</p>
        </div>
  
        <!-- Display the message -->
        <div *ngIf="message" class="alert alert-info mt-3">
          {{ message }}
        </div>
      </div>
    </div>
  </div>
  